<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    .mode {
      cursor: pointer;
      color: green;
      float: left;
      text-align: center;
      font-size: 12px;
      width: 100px;
      padding: 3px 7px 3px 7px;
      margin-right: 7px;
      border: 1px solid #909090;
    }
  </style>
</head>
<body>
  <h1>ToDoアプリ</h1>
  <div>こんにちは、<%= user.name %>さん！</div>
  <hr>
  <div>
    <a href="/"><div class="mode">リスト</div></a>
    <a href="profile"><div class="mode">プロフィール</div></a>
    <a href="config"><div class="mode">設定</div></a>
    <br clear="both">
  </div>
  <hr>
